@use 'typography';
@use "../mixins/flex" as flex;
@use "../variables/colors" as colors;
@use "../variables/base" as base;


// Custom scrollbar styles
::-webkit-scrollbar {
  width: base.$size-md;
  background: colors.color("dark", "dark-2");
}

::-webkit-scrollbar-track {
  border-radius: base.$border-radius-base;
  background: colors.color("dark", "dark-2");
  height: base.$size-sm;

}

::-webkit-scrollbar-thumb {
  border: base.$border-primary-gray;
  border-radius: base.$border-radius-base
}

::-webkit-scrollbar-thumb:hover {
  border-color: colors.color("orange");
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
                  134deg,
                  colors.color("dark", "dark-3") 0%,
                  colors.color("dark", "primary") 49%,
                  colors.color("dark", "dark-3") 100%
  ) fixed;
  min-height: 99vh;
  color: colors.color("neutral", "white-off");
  position: relative;
}
