@use "../../variables/colors" as colors;
@use "../../variables/base" as base;
@use "../../variables/typography" as typography;
@use "../../variables/breakpoints" as breakpoints;
@use "../../mixins/flex" as flex;

main {
  background-color: colors.color("dark", "dark-2");
  @include flex.flex-column(flex-start, center, no-wrap, base.$size-xxxxl);
  color: colors.color("neutral", "white-off");
  width: 100%;
  min-height: 100vh;

  .wrapper {
    padding: base.$padding-md;
    width: base.$size-100-percent;
    @include flex.flex-column();
  }

  @media (max-width: breakpoints.$breakpoint-lg) {
    gap: base.$size-xxxl;
  }

  // Ensure sections don't overflow
  @media (max-width: breakpoints.$breakpoint-md) {
    gap: base.$size-xxl;
  }

  @media (max-width: breakpoints.$breakpoint-sm) {
    gap: base.$size-xl;
  }

  @media (max-width: breakpoints.$breakpoint-xs) {
    gap: base.$size-xxxl;
  }

  // Ensure sections don't overflow
  section {
    width: 100%;
  }
}